@font-face {
    font-family: 'Garet';
    src: url('../fonts/Garet-Book.woff2') format('woff2'),
         url('../fonts/Garet-Book.woff') format('woff'),
         url('../fonts/Garet-Book.ttf') format('truetype'),
         url('../fonts/Garet-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garet';
    src: url('../fonts/Garet-Heavy.woff2') format('woff2'),
         url('../fonts/Garet-Heavy.woff') format('woff'),
         url('../fonts/Garet-Heavy.ttf') format('truetype'),
         url('../fonts/Garet-Heavy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
